/* 768-1440 */

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vw;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0px 4px 4px 0px #b4b2b2;
    color: #787878;
    font-family: Inter;
}

.header__container-image {
    display: flex;
    align-items: center;
}

.header__enter {
    color: #1A226B;
}

.header-registration__style {
    color: #787878;
    text-decoration: none;
}

.form {
    color: #787878;
}

.form__heading {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-weight: bold;
}

.form-email__label {
    display: block;
}

.form-password__label {
    display: block;
}

.form-email__input {
    width: 100%;
    border: 2px solid #787878;
}

.form-email__input::placeholder {
    color: #CCCCCC;
}

.form-password__input {
    width: 100%;
    border: 2px solid #787878;
}

.form-password__input::placeholder {
    color: #CCCCCC;
}

.form__button {
    display: flex;
    justify-content: center;
}

.form-button__enter {
    background: #1A226B;
    color: white;
}

/* 768-1440 */

@media screen and (min-width: 768px) and (max-width: 1440px) {
    .header {
        height: calc(80/1440*100vw);
    }

    .header-container-image__image {
        width: calc(222/1440*768);
        height: calc(50/1440*100vw);
        margin-left: calc(30/1440*100vw);
    }

    .header__heading {
        margin-left: calc(30/1440*100vw);
        font-size: calc(36/1440*100vw);
    }

    .header__registration {
        margin-left: calc(628/1440*100vw);
        font-size: calc(24/1440*100vw);
    }

    .header__enter {
        margin-left: calc(28/1440*100vw);
        font-size: calc(24/1440*100vw);
    }

    .form {
        width: calc(600/1440*100vw);
        height: calc(383/1440*100vw);
        margin-left: calc(403/1440*100vw);
        margin-top: calc(205/1440*100vw);
        box-shadow: 0px 0px 40px 10px #b4b2b2;
        padding-left: calc(45/1440*100vw);
        padding-right: calc(46/1440*100vw);
    }

    .form__heading {
        padding-top: calc(26/1440*100vw);
        font-size: calc(50/1440*100vw);
    }

    .form-email__label {
        margin-top: calc(17/1440*100vw);
        font-size: calc(16/1440*100vw);
    }

    .form-email__input {
        margin-top: calc(3/1440*100vw);
        height: calc(49/1440*100vw);
        padding-left: calc(15/1440*100vw);
    }

    .form-email__input::placeholder {
        font-size: calc(28/1440*100vw);
    }

    .form-password__label {
        margin-top: calc(11/1440*100vw);
        font-size: calc(16/1440*100vw);
    }

    .form-password__input {
        margin-top: calc(5/1440*100vw);
        height: calc(49/1440*100vw);
        padding-left: calc(15/1440*100vw);
    }

    .form-password__input::placeholder {
        font-size: calc(28/1440*100vw);
    }

    .form__button {
        margin-top: calc(40/1440*100vw);
    }

    .form-button__enter {
        width: calc(180/1440*100vw);
        height: calc(52/1440*100vw);
        font-size: calc(24/1440*100vw);
    }
}

