/* 1440> */

@media screen and (min-width:1440px) {
    .header {
        height: calc(80/1440*100vw);
    }

    .header-container-image__image {
        width: calc(222/1440*768);
        height: calc(50/1440*100vw);
        margin-left: calc(30/1440*100vw);
    }

    .header__heading {
        margin-left: calc(30/1440*100vw);
        font-size: calc(36/1440*100vw);
    }

    .header__registration {
        margin-left: calc(628/1440*100vw);
        font-size: calc(24/1440*100vw);
    }

    .header__enter {
        margin-left: calc(28/1440*100vw);
        font-size: calc(24/1440*100vw);
    }

    .form {
        width: calc(600/1440*100vw);
        height: calc(875/1440*100vw);
        margin-left: calc(403/1440*100vw);
        margin-top: calc(180/1440*100vw);
        box-shadow: 0px 0px 40px 10px #b4b2b2;
        padding-left: calc(45/1440*100vw);
        padding-right: calc(46/1440*100vw);
    }

    .form__heading {
        padding-top: calc(26/1440*100vw);
        font-size: calc(50/1440*100vw);
    }

    .form-email__label {
        margin-top: calc(17/1440*100vw);
        font-size: calc(16/1440*100vw);
    }

    .form-email__input {
        margin-top: calc(3/1440*100vw);
        height: calc(49/1440*100vw);
        padding-left: calc(15/1440*100vw);
    }

    .form-email__input::placeholder {
        font-size: calc(28/1440*100vw);
    }

    .form-password__label {
        margin-top: calc(11/1440*100vw);
        font-size: calc(16/1440*100vw);
    }

    .form-password__input {
        margin-top: calc(5/1440*100vw);
        height: calc(49/1440*100vw);
        padding-left: calc(15/1440*100vw);
    }

    .form-password__input::placeholder {
        font-size: calc(28/1440*100vw);
    }

    .form-password-again__label {
        margin-top: calc(11/1440*100vw);
        font-size: calc(16/1440*100vw);
    }

    .form-password-again__input {
        margin-top: calc(5/1440*100vw);
        height: calc(49/1440*100vw);
        padding-left: calc(15/1440*100vw);
    }

    .form-password-again__input::placeholder {
        font-size: calc(28/1440*100vw);
    }

    .form-gender__heading {
        margin-top: calc(11/1440*100vw);
        font-size: calc(16/1440*100vw);
    }

    .form-gender__man {
        margin-top: calc(5/1440*100vw);
    }

    .form-gender-man__radio {
        width: calc(20/1440*100vw);
        height: calc(20/1440*100vw);
        border-radius: 50%;
    }

    .form-gender-man__label {
        font-size: calc(14/1440*100vw);
        margin-left: calc(9/1440*100vw);
    }

    .form-gender__woman {
        margin-top: calc(9/1440*100vw);
    }

    .form-gender-woman__radio {
        width: calc(20/1440*100vw);
        height: calc(20/1440*100vw);
        border-radius: 50%;
    }

    .form-gender-woman__label {
        font-size: calc(14/1440*100vw);
        margin-left: calc(9/1440*100vw);
    }

    .form-textarea__heading {
        margin-top: calc(11/1440*100vw);
        font-size: calc(16/1440*100vw);
    }

    .form-textarea-area {
        margin-top: calc(5/1440*100vw);
        height: calc(246/1440*100vw);
        padding-left: calc(15/1440*100vw);
    }

    .form-textarea-area::placeholder {
        font-size: calc(28/1440*100vw);
    }

    .form__checkbox {
        margin-top: calc(24/1440*100vw);
        height: calc(24/1440*100vw);
    }

    .form-checkbox__input {
        width: calc(24/1440*100vw);
        height: 100%;
    }

    .form-checkbox__label {
        font-size: calc(14/1440*100vw);
        padding-left: calc(34/1440*100vw);
    }

    .form-checkbox__label::before {
        width: calc(24/1440*100vw);
        height: calc(24/1440*100vw);
    }

    .form-checkbox__label::after {
        width: calc(12/1440*100vw);
        height: calc(12/1440*100vw);
        left: calc(6/1440*100vw);
        top: calc(6/1440*100vw);
    }

    .form__button {
        margin-top: calc(30/1440*100vw);
    }

    .form-button__enter {
        width: calc(180/1440*100vw);
        height: calc(52/1440*100vw);
        font-size: calc(24/1440*100vw);
        background: #1A226B;
        color: white;
    }
}