* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100vw;
    height: 15vh;
    border-bottom: black solid 2px;
    display: flex;
    position: fixed;
    top: 0;
    background: #ddf5fc;
    overflow: hidden;
    color: #013b4b;
    box-shadow: 5px 6px 5px 5px #1e6b872e;
}

.footer {
    width: 100vw;
    height: 15vh;
    border-top: black solid 2px;
    position: fixed;
    bottom: 0;
    background: #ddf5fc;
}

.main {
    height: calc(100vh - 15vh - 15vh);
}

.header__h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: calc(10px + 16 * (100vw / 1280));
}

.section {
    margin-top: 15vh;
    display: flex;
}

.section__content-left {
    width: 20vw;
    height: calc(100vh - 15vh - 15vh);
    position: fixed;
    top: 15vh;
    border-right: 2px solid black;
}

.section-content-right {
    margin-left: 20vw;
    color: #013b4b;
}

.section-content-left__a {
    font-size: calc(10px + 16 * (100vw / 1280));
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.section-content-right__blue {
    background: #029bc5; 
    color: white;
    width: 78vw;  
    position: sticky;
    top: 15vh;   
    box-shadow: 5px 6px 5px 0px #1e6b8712;  
}

.section-content-right__black {
    font-weight: 200;
    font-size: calc(15px + 16 * (100vw / 1280));
}