* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vw;
}

.header {
    display: flex;
    align-items: center;
    width: 100vw;
    box-shadow: 0px 4px 4px 0px #b4b2b2;
    color: #787878;
    font-family: Inter;
}

.header__container-image {
    display: flex;
    align-items: center;
}

.form {
    color: #787878;
}

.form__heading {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-weight: bold;
}

.form-email__label {
    display: block;
}

.form-password__label {
    display: block;
}

.form-email__input {
    width: 100%;
    border: 2px solid #787878;
}

.form-email__input::placeholder {
    color: #CCCCCC;
}

.form-password__input {
    width: 100%;
    border: 2px solid #787878;
}

.form-password__input::placeholder {
    color: #CCCCCC;
}

.form__button {
    display: flex;
    justify-content: center;
}

.form-button__enter {
    background: #1A226B;
    color: white;
}

/* 320-768 */

@media screen and (min-width: 320px) and (max-width: 768px) {
    .header {
        height: calc(80/768*100vw);
    }

    .header-container-image__image {
        width: calc(124/768*768);
        height: calc(25/768*100vw);
        margin-left: calc(20/768*100vw);
    }

    .header__heading {
        margin-left: calc(34/768*100vw);
        font-size: calc(24/768*100vw);
    }

    .header__registration {
        margin-left: calc(219/768*100vw);
        font-size: calc(16/768*100vw);
    }

    .header__enter {
        margin-left: calc(36/768*100vw);
        font-size: calc(16/768*100vw);
    }

    .form {
        width: calc(600/768*100vw);
        height: calc(383/768*100vw);
        margin-left: calc(84/768*100vw);
        margin-top: calc(80/768*100vw);
        box-shadow: 0px 0px 40px 10px #b4b2b2;
        padding-left: calc(45/768*100vw);
        padding-right: calc(46/768*100vw);
    }

    .form__heading {
        padding-top: calc(26/768*100vw);
        font-size: calc(50/1440*100vw);
    }

    .form-email__label {
        margin-top: calc(17/768*100vw);
        font-size: calc(16/768*100vw);
    }

    .form-email__input {
        margin-top: calc(3/768*100vw);
        height: calc(49/768*100vw);
    }

    .form-email__input::placeholder {
        font-size: calc(28/768*100vw);
    }

    .form-password__label {
        margin-top: calc(11/768*100vw);
        font-size: calc(16/768*100vw);
    }

    .form-password__input {
        margin-top: calc(5/768*100vw);
        height: calc(49/768*100vw);
    }

    .form-password__input::placeholder {
        font-size: calc(28/768*100vw);
    }

    .form__button {
        margin-top: calc(40/768*100vw);
    }

    .form-button__enter {
        width: calc(180/768*100vw);
        height: calc(52/768*100vw);
        font-size: calc(24/768*100vw);
    }
}