* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vw;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0px 4px 4px 0px #b4b2b2;
    color: #787878;
    font-family: Inter;
}

.header__container-image {
    display: flex;
    align-items: center;
}

.header-registration__style {
    color: #787878;
    text-decoration: none;
}

.header__enter {
    color: #1A226B;
}

.form {
    color: #787878;
}

.form__heading {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-weight: bold;
}

.form-email__label {
    display: block;
}

.form-password__label {
    display: block;
}

.form-email__input {
    width: 100%;
    border: 2px solid #787878;
}

.form-email__input::placeholder {
    color: #CCCCCC;
}

.form-password__input {
    width: 100%;
    border: 2px solid #787878;
}

.form-password__input::placeholder {
    color: #CCCCCC;
}

.form__button {
    display: flex;
    justify-content: center;
}

.form-button__enter {
    background: #1A226B;
    color: white;
}